<div class="sidebar">
    <a href="{{ site.url }}">
        <img class="logo-img" src="public/lingo.png" alt="Lingo" />
    </a>

    <h5 class="site-tagline">{{ site.tagline }}</h5>

    <nav class="site-nav">
        <div class="nav-item">
            <a href="/" class="btn">
                <i class="fa fa-home"></i>
                Home
                <i class="fa fa-angle-double-right nav"></i>
            </a>
        </div>
        <div class="nav-item">
            <a href="/api" class="btn">
                <i class="fa fa-list"></i>
                Documentation
                <i class="fa fa-angle-double-right nav"></i>
            </a>
        </div>
        <div class="nav-item">
            <a href="/download" class="btn">
                <i class="fa fa-download"></i>
                Download
                <i class="fa fa-angle-double-right nav"></i>
            </a>
        </div>
    </nav>

    <div class="site-meta">
        <a href="{{ site.github }}">
            <i class="fa fa-github"></i>
            GitHub
        </a>
        |
        <a href="{{ site.license }}">License</a>
    </div>

</div>
